
.contacts p{
    padding-left: 10px ;
}

#leftSide::before{
    content: '';
    background-color: rgba(21, 21, 46, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    
}

#SlidesBtnTransition:hover{
    scale: 1.2;
    transition: 0.7s; 
}
